@using X.PagedList
@using X.Web.PagedList
@model IPagedList<Club>

<div class="container mt-4">
    <h2>Club List</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">Title</a>
                </th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
                <!-- Aggiungi altre colonne se necessario -->
            </tr>
        </thead>
        <tbody>
            @foreach (var club in Model)
            {
                <tr>
                    <td>@club.Title</td>
                    <td>@club.Description</td>
                    <td>
                        <img src="@club.Image" alt="Logo of @club.Title" class="img-fluid" style="min-height: 100px; max-width: 100px;">
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <a asp-controller="Club" asp-action="Edit" asp-route-id="@club.Id" type="button" class="btn btn-sm btn-outline-secondary-g">Edit</a>
                            <a asp-controller="Club" asp-action="Delete" asp-route-id="@club.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        }
                    </td>
                    <!-- Aggiungi altre celle se necessario -->
                </tr>
            }
        </tbody>
    </table>

    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewData["CurrentSort"] }), new PagedListRenderOptions
       {
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always,
           Display = PagedListDisplayMode.Always,
           DisplayPageCountAndCurrentLocation = true,
           DisplayEllipsesWhenNotShowingAllPageNumbers = true,
           MaximumPageNumbersToDisplay = 5,
           ClassToApplyToFirstListItemInPager = "first",
           ClassToApplyToLastListItemInPager = "last",
           ContainerDivClasses = new[] { "pagination-container mt-4" },
           UlElementClasses = new[] { "pagination" },
           LiElementClasses = new[] { "page-item" },
           PageClasses = new[] { "page-link" }
       })
    </div>
</div>
